

.editCategory_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    animation: fadeIn 0.3s linear;
    position: relative;
    width: 100vw;
    padding: 40px 0;
}
.editCategory_left {
    border: 3px;
    width:min(400px,80vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: white;
    padding: 50px 10px;
    box-shadow: -4px 5px 61px -37px rgba(0,0,0,0.5);
-webkit-box-shadow: -4px 5px 61px -37px rgba(0,0,0,0.5);
-moz-box-shadow: -4px 5px 61px -37px rgba(0,0,0,0.5);
}

.editCategory_left .input_container {
    width: 80%;
}

.editCategory_right {
    display: flex;
    flex-direction: column;
    width: min(90vw,900px);
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;

}

.articles_table {
    max-width: 100%;
    height: fit-content;
    align-self: center;
    background-color: white;
    box-shadow: -4px 5px 61px -37px rgba(0,0,0,0.5);
-webkit-box-shadow: -4px 5px 61px -37px rgba(0,0,0,0.5);
-moz-box-shadow: -4px 5px 61px -37px rgba(0,0,0,0.5);
}
.editCategory_right_header {

}

.editCategory_right_footer {
    display: flex;
    flex-direction: column;
    width: min(350px,100%);   
    align-self: center;

}

.articles_table_input {
    display: block;
    width: 100%;
    padding: 10px 8px; 
    border-radius: 7px;
    font-size: 18px;
    transition: var(--transition);
    color: #4f4f4f;
}

input[name="price"] {
    text-align: center;
    appearance: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }

  @media (max-width:700px) {
    .editCategory_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

    }
  }

  .editCategory_left_img {
    width: min(250px,80%);
    height: auto;
    margin-bottom: 45px;
  }