body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#MoveUpButton{
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  color: aqua;

}
#MoveDownButton {
  display: flex;
  text-align: center;
  align-items: center;

  cursor: pointer;
}
/* .MoveButtons {
  display: none;
}

tr:hover .MoveButtons {
  display: block;
}  */